name: Init CI Workflow

permissions:
  contents: read  
  
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    uses: codeparce/ci-workflows/.github/workflows/node-build.yml@main
    with:
      node-version: 20

      



