permissions:
  contents: read  
  
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  init:
    name: CI Workflow
    uses: codeparceorg/ci-workflows/.github/workflows/node-init.yml@main
    with:
      node-version: 20
    secrets: inherit
      