name: Init CI Workflow

permissions:
  contents: read
  
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    uses: codeparce/ci-workflows/.github/workflows/node-build.yml@main
    with:
      config-path: .github/labeler.yml
    secrets:
      personal_access_token: ${{ secrets.TERRAFORM_REPO_TOKEN }}