name: Init CI Workflow

permissions:
  contents: read  
  
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  init:
    uses: codeparce/ci-workflows/.github/workflows/node/node-init.yml@main
    with:
      node-version: 20
    secrets:
      TERRAFORM_REPO_TOKEN: ${{ secrets.TERRAFORM_REPO_TOKEN }}
      ARM_CLIENT_ID : ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET : ${{ secrets.ARM_CLIENT_SECRET }}  
      ARM_TENANT_ID : ${{ secrets.ARM_TENANT_ID }}
      ARM_SUBSCRIPTION_ID : ${{ secrets.ARM_SUBSCRIPTION_ID }}
      